server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5441/reading_tracker
    username: admin
    password: password

  flyway:
    enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
